PORT=1548
MONGO_URI=your_shared_mongodb_connection_strings
GOOGLE_BOOKS_API=https://www.googleapis.com/books/v1
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
OPENAI_API_KEY=your_openai_api_key