PORT=<last four digit of student id>
MONGO_URI=mongodb://bookverseuser:Bookverse1234@ac-wo04lbm-shard-00-00.8xard6p.mongodb.net:27017,ac-wo04lbm-shard-00-01.8xard6p.mongodb.net:27017,ac-wo04lbm-shard-00-02.8xard6p.mongodb.net:27017/?ssl=true&replicaSet=atlas-k2qg1a-shard-0&authSource=admin&appName=Cluster0